<!DOCTYPE html>
<html>
<head>
    <title>ComputerScience</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Styles/ComputerScienceStyling.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <!--This is the Navigation area-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BIOGRAPHIES</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="homePage.html">Home</a></li>
                    <li><a href="Autobios.html">Autobios</a></li>
                    <li><a href="BIOS.html">BIOS</a></li>
                    <li><a href="About.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--This is the Navigation area (END)-->
</body>
</html>
