<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form Validation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../Controller/formPage.js"></script>
    <link href="../Styles/FormValidationStyling.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="IntroPage.html">BIOGRAPHIES</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="IntroPage.html#homeSection" id="home">Biographies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="IntroPage.html#categoriesSection" id="categories">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="IntroPage.html#aboutSection" id="about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="IntroPage.html#contactSection" id="contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="FormValidation.html" id="form">BE-KNOWN</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--This is the Navigation area (END)-->

    <div class="container">
        <h2>Personal Validation</h2>

        <!--NAME-->
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="focusedInput" type="text" placeholder="someone" required="required">
                </div>
            </div>

            <!--E-mail-->
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <input class="form-control" id="disabledInput" type="email" placeholder="someone_whatever@smth.com" required="required">
                </div>
            </div>

            <!--account-->
            <fieldset>
                <div class="form-group">
                    <label for="disabledSelect" class="col-sm-2 control-label">Account</label>
                    <div class="col-sm-10">
                        <select id="disabledSelect" class="form-control" >
                            <option hidden></option>
                            <option style="font-family:cursive,Verdana, 'Courier New'">Facebook</option>
                            <option>Twitter</option>
                            <option>Linkedin</option>
                            <option>Own Website</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-group has-success has-feedback">
                <label class="col-sm-2 control-label">Account URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="inputSuccess">
                    
                </div>
            </div>

            <!--Phone number-->
            <div class="form-group has-warning has-feedback">
                <label class="col-sm-2 control-label">Mobile number</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputWarning">
                    
                </div>
            </div>

            <!--Photo-->
            <div class="form-group has-error has-feedback">
                <label class="col-sm-2 control-label">Upload Photo</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="inputError" required="required">

                </div>
            </div>

            <!--C.V-->
            <div class="form-group has-error has-feedback">
                <label class="col-sm-2 control-label" >Upload C.V (optional)</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="inputError">
                    
                </div>
            </div>
        </form>
    </div>
    <br /><br />
    <!--button-->
    <div id="button-div">
        <button class="button" type="submit" onclick="location.href='introPage.html#categoriesSection'">Submit</button>
    </div>

</body>
</html>