body {
    margin: 0;
}
.row{
    text-align:center; 
}
.row h2{
    font-family:cursive;
}
.row p{
    margin: 0;
    padding: 0 0 3px 2px;
    font-family:Leelawadee;
    font-size:16px;
}
.row img{
    width:300px;
    height:300px;
}
.pager {
    position: absolute;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 1rem;
    text-align: center;
}