/*Yazeed*/
.logo img{
    width:70px;
    height:70px;
    margin-bottom:30px;    
    display:block;
    padding:3px;
    margin:15px;
    text-align:center;
}
.PageLogo{
    margin-top:60px;
    width:150px;
    height:150px;
    margin-left:30px;
}
/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}
.wrapper{
    margin-top:20px;
}
.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#footer {
  margin-bottom:20px;
}


/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}
small.text-muted {
  font-family:courier,courier-new,monospace;
}
#CategoryName{
  font-family:courier,courier-new,monospace;
  font-size:22px;
  font-weight:500;
  text-align:center;
}
.pagination{
    margin-right:100px;
}