body {
  background-image: url(../Images/Intro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}
@media only screen and (max-width:767){
    body{
        background-image:url("'../Images/Intro - Mobile.jpg'");
    }
}
#button-div{
    text-align:center;
}
.button {
    padding: 10px 15px;
    background-color:orange;
    color: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size:100%;
    text-align:center;
    line-height:20px;
    font-family:cursive,Verdana,'Courier New';
    font-size:25px;
    position:absolute;
    top:75%;
}
.button:hover{
    background-color:darkorange;    
    text-decoration: none;
}
#button-form-div{
    text-align:center;
    margin-left:75%;
}
.form-button{
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align:center;
    font-family:cursive,Verdana,'Courier New';
    font-size:16px;
    line-height:10px;
    position:absolute;
    bottom:15px;
}
.form-button:hover{
    background-color:#356094;    
    text-decoration: none;
}
h1,h2,p{
    color:white;
    text-align:center;
    font-family:cursive,Verdana, 'Courier New';
    margin-top:60px;
}
p{
    margin-left:8px;
    font-size:18px;
}
h2{
    margin-left:18px;
}